.loginScreen {
  position: relative;
  height: 100vh;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
    no-repeat center center/cover;
  z-index: 1;
  overflow: hidden;
}
.loginScreen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.loginScreen__background {
}
.loginScreen__logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
}
.loginScreen__button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  color: #fff;
  background: #e50914;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  font-weight: 600;
}
.loginScreen__body {
  color: white;
  padding: 30px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 30%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.loginScreen__body h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}
.loginScreen__body h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 400;
}
.loginScreen__body h3 {
  font-size: 1.3rem;
  font-weight: 400;
}
.loginScreen__input {
  margin: 20px;
}
.loginScreen__input form input {
  padding: 10px;
  outline-width: 0;
  height: 30px;
  width: 30%;
  border: none;
  max-width: 600px;
}
.loginScreen__getStarted {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  background: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
